@model IEnumerable<SistemaEncuestas.Models.Domain.RespuestaUsuario>

@{
    ViewBag.Title = "Índice";
}

<h2>Índice</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPreguntas)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPreguntas)
        </td>
    </tr>
}

</table>
