@{
    ViewBag.Title = "Bienvenido";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("p").click(function () {
            $(this).hide();
        });
    });
</script>


@if (@TempData["ErrorMessage"] != null)
{
    if (Convert.ToBoolean(TempData["Status"]))
    {
        <div class="mt-4 p-5 bg-success text-white rounded">
            <h1>Sistema de encuestas</h1>
            <p class="lead">@TempData["ErrorMessage"]</p>
        </div>
    }
    else
    {
        <div class="mt-4 p-5 bg-danger text-white rounded">
            <h1>Sistema de encuestas</h1>
            <p class="lead">@TempData["ErrorMessage"]</p>
        </div>
    }
}
else
{
    <div class="mt-4 p-5 bg-secondary text-white rounded">
        <h1>Sistema de encuestas</h1>
        <p class="lead">Sistema interno de encuestas.</p>
    </div>
}

