@{
    ViewBag.Title = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function ()
    {
        $("p").click(function ()
        {
            $(this).hide();
        });
    });
</script>

<div class="mt-4 p-5 bg-primary text-white rounded">

    <h1>Sistema de encuestas</h1>

    @if (@TempData["ErrorMessage"] != null)
    {
        <p class="lead">@TempData["ErrorMessage"]</p>
    }
    else
    {
        <p class="lead">Sistema interno de encuestas.</p>
    }
</div>
